.reset-outer {
  min-height: 100vh;
  padding: 50px 20px;
  background: var(--bg-black);
}

.reset-password-container {
  max-width: 552px;
  width: 100%;
}

.reset-main {
  background: #fff;
  padding: 50px 60px 90px;
  text-align: center;
  border-radius: 6px;
}

.login-logo {
  max-width: 126px;
  width: 100%;
  margin: 0 auto;
}

.rp-text {
  margin: 12px 0 30px;
  color: var(--grey-text);
}

.rp-sub-text {
  font-family: Figtree;
  font-size: 14px;
  color: #687d92;
  font-weight: 400;
}

.authorization {
  margin-top: 30px;
}

.reset-outer label,
.reset-outer input:not(.checkbox) {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 400;
}

.reset-outer label {
  text-align: left;
  color: var(--grey-text);
  font-family: Figtree;

  margin-bottom: 6px;
}

.reset-outer input:not(.checkbox) {
  padding: 13px 17px;
  border: 1px solid #eef2f7;
  border-radius: 6px;
  background: #eef2f780;
  color: var(--grey-text);
  margin-bottom: 20px;
}

.reset-outer::placeholder {
  color: #5d7186e5;
}

.repassword-btn {
  padding-block: 11px;
}

.reset-password-container .sing-in-already {
  color: #fff;
  text-align: center;
  font-family: Figtree;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 25px;
}

.sing-in-already a {
  color: #fff;
  font-weight: 700;
  margin-left: 5px;
  border-bottom: 1px dashed #fff;
}

.form-group .cta {
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

/* sign up page css */
.form-group.terms-conditions {
  display: flex;
}

.terms-conditions label {
  margin: 0;
}

.or-text p {
  font-family: "Figtree", sans-serif;
  font-size: 14px;
  color: #5D7186;
  font-weight: 600;
  background-color: #fff;
  position: relative;
  z-index: 1;
  width: fit-content;
  margin: auto;
  padding-inline: 14px;
}

.or-text {
  position: relative;
}

.or-text::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #EAEDF1;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
}

.google-option i {
  color: #323A46;
}

.google-option a {
  border: 1px solid #EEF2F7;
  border-radius: 5.6px;
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.or-text {
  position: relative;
  padding: 30px 0;
}

.sign-txt p {
  color: #687D92;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-top: 11px;
  font-size: 14px;
}

.google-option a:hover i {
  color: #28A745;
}

.terms-conditions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.terms-conditions input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #0000002D;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin: 0;
}

.terms-conditions input[type="checkbox"]:checked {
  background: #28A745;
  border: 1px solid #28A745;
}

.sing-in-already a:hover {
  color: #28A745;
}

.terms-conditions input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.terms-conditions label {
  cursor: pointer;
}
.form-group .cta{
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .reset-main {
    padding: 30px 30px 50px;
  }
}

@media(max-width:575px) {

  .reset-outer label,
  .reset-outer input:not(.checkbox),
  .sign-txt p,
  .form-group .cta {
    font-size: 12px;
  }

  .form-group .cta {
    margin-top: 40px;
  }

  .or-text {
    padding-bottom: 20px;
  }

  .reset-main {
    padding: 30px 20px 40px;
  }
}