.user-content .saved-top p {
  font-weight: 600;
}

.user-content .saved-top,
.user-content .recent-search {
  max-width: 1257px;
  margin: auto;
}

.user-content .stats-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 390px));
}

.user-content .stat-card {
  text-align: center;
  padding: 30px;
}

.user-content .stat-card h3 {
  font-size: 20px;
  font-weight: 500;
  color: #041c2e;
}

.user-content .stat-card h5 {
  font-size: 14px;
  font-weight: 600;
  color: #94a3b8;
  margin: 30px 0 2px 0;
}

.user-content .stat-card p {
  font-size: 38px;
  font-weight: 600;
  color: #041c2e;
  padding: 0;
}

.user-content .recent-search {
  margin-top: 0;
  margin: auto;
  padding: 32px;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0px 1px 2px 1px #0000000D;
}

.user-content .recent-search-top {
  padding-bottom: 24px;
  border: none;
}

.user-content .recent-search-top h3 {
  font-weight: 600;
  font-size: 24px;
  color: #292b2e;
}

.user-content .recent-search-top a {
  color: #1e3a8a;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.user-content .recent-search-top a:hover {
  text-decoration: underline;
}

.user-content .property-card {
  margin: auto;
}

@media (max-width: 668px) {
  .user-content .stats-grid {
    grid-template-columns: repeat(1, minmax(0, 390px));
  }
  .user-content .saved-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .user-content .recent-search {
    padding: 15px;
  }
}

@media (max-width: 1859px) {
  .user-content .property-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1400px) {
  .user-content .property-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 728px){
    .user-content .property-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
