body *,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

:root {
  --grey: #7b8189;
  --dark-black: #001c3a;
  --light-grey: #94a3b8;
  --green: #22c55e;
  --light-green: #e7f6ed;
  --navy-blue: #1e3a8a;
  --light-blue: #eff6ff;
  --text-blue: #0a4773;
  --orange: #f97316;
  --light-orange: #fff7ed;
  --bg-black: #2e2e2e;
  --grey-text: #5d7186;
}
body {
  font-weight: 500;
  line-height: 1.5;
  font-family: Inter;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

a {
  text-decoration: none;
  display: inline-block;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible,
button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
p,
ul {
  margin: 0;
}

.d-flex {
  display: flex;
}
.ad-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta {
  cursor: pointer;
  overflow: hidden;
  transition: background 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 4px;
  letter-spacing: 0;
  padding: 8px 16px;
  text-align: center;
  border: none;
  vertical-align: middle;
}

.cta-green {
  background-color: var(--green);
  color: rgba(255, 255, 255, 0.9);
}
.cta-green:hover {
  background-color: #208637;
}

.f-48 {
  font-size: 48px;
}
.f-30 {
  font-size: 30px;
}
.f-24 {
  font-size: 24px;
}
.f-20 {
  font-size: 20px;
}
.f-18 {
  font-size: 18px;
}  
.f-16 {
  font-size: 16px;
} 
.f-14 {
  font-size: 14px;
}
.f-12 {
  font-size: 12px;
}
.f-11 {
  font-size: 11px;
}
