.reset-outer {
  min-height: 100vh;
  padding: 50px 20px;
  background: var(--bg-black);
}
.reset-password-container {
  max-width: 552px;
  width: 100%;
}

.reset-main {
  background: #fff;
  padding: 50px 60px 90px;
  text-align: center;
  border-radius: 6px;
}

.login-logo {
  max-width: 126px;
  width: 100%;
  margin: 0 auto;
}
.rp-text {
  margin: 12px 0 30px;
  color: var(--grey-text);
}
.rp-sub-text {
  font-family: Figtree;
  font-size: 14px;
  color: #687d92;
  font-weight: 400;
}
#reset-password {
  margin-top: 30px;
}
#reset-password * {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 400;
}
#reset-password label {
  text-align: left;
  color: var(--grey-text);
  font-family: Figtree;

  margin-bottom: 6px;
}
#reset-password input {
  padding: 13px 17px;
  border: 1px solid #eef2f7;
  border-radius: 6px;
  background: #eef2f780;
  color: var(--grey-text);
  margin-bottom: 20px;
}
#reset-password::placeholder {
  color: #5d7186e5;
}
.repassword-btn {
  padding-block: 11px;
}
.reset-password-container .sing-in-already {
  color: #fff;
  text-align: center;
  font-family: Figtree;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 25px;
}
.sing-in-already a {
  color: #fff;
  font-weight: 700;
  margin-left: 5px;
  border-bottom: 1px dashed #fff;
}
@media screen and (max-width: 767px) {
  .reset-main {
    padding: 30px 30px 50px;
  }
}
