.span-text {
  background: linear-gradient(90deg, #169c86 0%, #57c3d3 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.ct-bnnr {
  padding: 205px 0;
}

.ct-bnnr .bnnr-cntnt h2 {
  max-width: 919px;
  margin: auto;
  font-weight: 800 !important;
}

#ct-quote {
  color: #000000 !important;
  border: 1px solid #57c3d3;
  padding: 18px 26px !important;
}

#ct-quote:hover {
  color: #fff !important;
}
.ct-pra .cont_ty p {
  color: #394149;
}

.ct-expert .ct-expert-content {
  display: grid;
  gap: 90px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  flex-wrap: wrap;
}

.focus {
  padding: 117px 0 133px 0;
}

.focus .section-title {
  text-align: center;
  color: #000;
}

.focus .section-subtitle {
  text-align: center;
  color: #394149;
  margin-bottom: 42px;
}
.focus-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.focus-card {
  border: 1px solid #57c3d340;
  background: transparent;
  border-radius: 20px;
  padding: 45px;
  text-align: center;
  grid-column: span 2;
  transition: all 0.3s ease-in-out;
}

.focus-card:hover {
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 25px 35px 72px 0px #0000001a;
}

.focus-card h4 {
  font-weight: 600;
  padding: 22px 0 8px 0;
  margin: auto;
  font-size: 26px;
  color: #000;
  max-width: 272px;
}

.focus-card p {
  color: #6b727c;
  font-size: 16px;
}

.advanced {
  padding: 130px 0 120px 0;
  margin: auto;
}

.advanced-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 90px;
  justify-content: center;
  align-items: flex-start;
}

.advanced-l {
  max-width: 569px;
}

.advanced-l h3 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.advanced-l p {
  font-size: 22px;
  font-weight: 400;
  color: #6b727c;
}

.advanced-r {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.advanced-card {
  border: 1px solid #57c3d342;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  max-width: 750px;
  transition: all 0.3s ease-in-out;
}

.advanced-card:hover {
  background-color: #fff;
}

.advanced-card:hover h6 {
  color: #000;
}

.advanced-card h6 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}

.advanced-card p {
  color: #6b727c;
  font-size: 16px;
  /* font-weight: 600; */
  max-width: 550px;
}

.advanced-dark {
  background-color: #000;
  color: #000;
}

.advanced-real {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.advanced-real:after {
  position: absolute;
  content: "";
  background-color: #fff;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
}

.clinical {
  padding-top: 126px;
}

.clinical .container {
  border-bottom: 1px solid #00000014;
  padding-bottom: 130px !important;
}

.clinical .imageg_rgtbox ul li:after {
  content: "";
  position: absolute;
  background-image: url("../assets/tick.svg");
  width: 16px;
  height: 15px;
  left: -23px;
  top: 14px;
}

.clinical .imageg_rgtbox ul li {
  list-style: none;
  position: relative;
}

.clinical .imageg_rgtbox ul {
  max-width: 592px;
}

.clinical .list-unstyled li {
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 18px;
}

.clinical .imageg_rgtbox h2 {
  max-width: 600px;
  color: #000;
}

.faq {
  padding-top: 100px;
}

.faq h2 {
  color: #000;
  margin-bottom: 37px;
  text-align: center;
}

.faq-item {
  border: 1px solid #57c3d333;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 25px;
  padding: 45px 40px;
  transition: all 0.3s ease;
  max-width: 1000px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  list-style: none;
  user-select: none;
  font-weight: 500;
}

faq-question::-webkit-details-marker {
  display: none;
}

.faq-answer p {
  font-size: 16px;
  color: #6b727c;
  margin: 15px 0 0 0;
  max-width: 90%;
}

.faq-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(180deg, #169c86 0%, #57c3d3 100%);
  position: relative;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.faq-icon::after {
  content: "";
  position: absolute;
  top: 42%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: transform 0.3s ease;
}

.faq-item[open]{
  background: #57C3D30A;
}

.faq-item[open] .faq-icon {
  transform: rotate(180deg);
}

.faq-item[open] .faq-answer {
  animation: smoothReveal 0.35s ease-out forwards;
  overflow: hidden;
}

@keyframes smoothReveal {
  0% {
    opacity: 0;
    transform: translateY(-8px);
    max-height: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
  }
}

.high .real-growth-wrp .real-innr {
  max-width: 870px;
}

.high .real-growth-wrp .real-innr h2 {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 800 !important;
}

.high #view {
  color: #fff;
  border: 1px solid #ffffff;
}

#ct-expert .across .fw-bold {
  max-width: 490px;
}

.faq-question p {
  max-width: 750px;
}

.advanced-l h1 {
  color: #fff;
}
section#ct-expert.imag_otesec::after {
  display: none;
}

@media (max-width: 991px) {
  #ct-expert .across .fw-bold,
  #ct-expert .across .text-muted {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 18px !important;
    line-height: 1.4 !important;
  }
  .advanced,
  .advanced-real,
  .focus,
  .faq.location-faq,
  .faq-top,
  .imag_otesec,
  .clinical,
  section.real-growth-sec.dark.high.hp {
    padding: 50px 0 !important;
  }
  .advanced-card,
  .focus-card,
  .feature-box,
  .faq-item {
    padding: 20px !important;
  }
  .section-title {
    font-size: 28px !important;
  }
  .feature-description {
    line-height: 1.4 !important;
  }

  .faq-question p {
    max-width: 222px;
  }
  .faq-icon {
    width: 22px;
    height: 22px;
  }
  section.real-growth-sec.dark.high .cta,
  section#location-hero .cta {
    padding: 14px 18px !important;
  }
  .faq {
    padding-top: 0;
  }
  .clinical .container {
    padding-bottom: 20px !important;
  }
}

@media (min-width: 1025px) {
  .focus-card:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .focus-card:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .focus-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .focus-card {
    grid-column: span 2;
  }
  .focus-card:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (max-width: 768px) {
  .focus-cards {
    grid-template-columns: 1fr;
  }
  .focus-card {
    grid-column: span 1;
  }
}

.imageg_rgtbox.across .text-muted {
  font-size: 22px;
  max-width: 614px;
  color: #394149 !important;
}

.advanced h2 {
  color: #fff !important;
}

section.real-growth-sec.dark.high.hp {
  padding-top: 100px;
}

section.main-bnnr.dark.ct-bnnr {
    padding: 205px 0 !important;
}

.bnnr-btns.d-flex.g-12 .cta-h {
    padding: 18px 29px !important;
    text-transform: unset;
}

.imageg_boxot.high {
    max-width: 666px;
}

section#ct-expert {
    padding-bottom: 147px;
}

.real-growth-wrp.advanced-real-img {
    max-width: 1440px;
}
section.clinical .imageg_boxot {
    max-width: 649px;
}

section.real-growth-sec.dark.high.hp .cta {
    padding: 18px 34px !important;
}

section.real-growth-sec.dark.high.hp a#ct-quote\ view{
    padding: 18px 49px !important;
}

.cta{
  text-transform: unset !important;
}