.loc-details {
  padding: 120px 0;
}

.loc-details .fw-bold {
  font-size: 26px;
  max-width: 522px;
  color: #000;
}

.loc-details .text-muted {
  font-size: 22px;
  color: #394149 !important;
  max-width: 655px;
}

p.loc-d-p {
  max-width: 597px !important;
  font-size: 22px;
}

.loc-d-night .fw-bold {
  max-width: 691px;
}

section.focus.loc-d-focus .section-title {
  max-width: 817px;
  color: #000;
  margin: auto;
  padding-bottom: 10px;
}

section.focus.loc-d-focus .section-subtitle {
  max-width: 1100px;
  color: #394149;
  margin: auto;
  margin-bottom: 32px;
}

section.focus.loc-d-focus .focus-card {
  padding: 40px 16px;
}

section.focus.loc-d-focus .focus-card h4 {
  font-size: 22px;
  max-width: 400px;
}

section.imag_otesec.location-otesec.loc-d-otesec {
  color: #fff;
}

section.imag_otesec.location-otesec.loc-d-otesec .fw-bold {
  color: #fff;
  max-width: 616px;
}

section.imag_otesec.location-otesec.loc-d-otesec .loc-d-p {
  color: #fff;
  font-size: 22px;
}

section.imag_otesec.location-otesec.loc-d-otesec b {
  color: #fff !important;
}

section.imag_otesec.location-otesec.loc-d-otesec .imageg_rgtbox ul li {
  list-style: none;
  position: relative;
}

section.imag_otesec.location-otesec.loc-d-otesec .imageg_rgtbox ul li:after {
  content: "";
  position: absolute;
  background-image: url("../assets/white-tick.svg");
  width: 16px;
  height: 15px;
  left: -23px;
  top: 6px;
}

section.imag_otesec.loc-d-night:after {
  display: none;
}
section.imag_otesec.loc-d-night:after {
  display: none;
}
@media screen and (max-width: 575px) {
  #location-hero .bnnr-cntnt p {
    font-size: 15px;
  }

  .loc-details {
    padding: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  section.imag_otesec.location-otesec .list-unstyled li {
    line-height: 20px;
    font-size: 16px;
  }

  p.loc-d-p {
    margin-bottom: 10px;
  }
}

section.imag_otesec.location-otesec.ld .fw-bold {
  color: #000;
  font-size: 36px;
}

section.imag_otesec.loc-d-night.ld-2 .imageg_rgtbox {
  padding-left: 0 !important;
}

section.imag_otesec.loc-d-night.ld-2 p.loc-d-p {
    max-width: 655px !important;
    color: #394149;
}